body{
  font-family: Helvetica, Baskerville, monospace;
  overflow: auto;
}

#mainpage{
    background: url(../Images/main/first_main_background.jpg) no-repeat center center fixed;
}

#aboutuspage{
  background-image: url(../Images/about_us/about_us_background.jpg);
}

#shoppage{
  background-image: url(../Images/shop/clouds_background_shop_1.1.jpg);
}

#mainpage, #aboutuspage, #shoppage{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#rentalpage, #servicepage, #contactpage{
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-clip: content-box;
  overflow: hidden;
}

#rentalpage{
  background-image: url(../Images/rental/mountain_background_rental.jpg);
}

#servicepage{
  background-image: url(../Images/service/service_background.jpg);
}

#contactpage{
  background-image: url(../Images/contact/mountains_background_contact_1.1.jpg);
}

.mainpage .languages{
  position: absolute;;
  top: 7vmin;
  right: 0;
}

.mainpage .languages img{
    max-width: 5vmin;
}

.mainpage .container{
  position: relative;
  min-width: 200px;

  text-align: center;
  height: auto;
}

.mainpage .BadGastein{
  display: block;
  text-transform: uppercase;
  font-size: 3vmin;
  word-spacing: 3.5vmin;
  letter-spacing: 2.5vmin;
  text-shadow: 0.1vmin 0.1vmin #000;
  color: #FFFFFF;
}

.mainpage .firstdescentheaderlogo{
  display: inline-block;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
  height: 100%;
  width: 85%;
  min-width: 200px;
}

.mainpage .fddescription{
  display: inline-flex;
  text-align: center;
  border-top:0.4vmin solid white;
  border-bottom: 0.4vmin solid white;
  min-width: 200px;
  width: 85%;
  justify-content: space-between;
  margin: 0 2vmin 0 2vmin;
}

.mainpage .fddescription img{
  width: 1vmin;
  height: 1vmin;
  margin:auto;
}

.mainpage .fddescription h2{
  text-transform: uppercase;
  text-shadow: 0.1vmin 0.1vmin #000;
  font-size: 3vmin;
  color: #FFFFFF;
  margin: auto;
  margin-left: 1vmin;
  margin-right: 1vmin;
}

.mainpage .bookingbtn {
  margin-top: 15vmin;
  font-size: 4vmin;
  color: #FFFFFF;
}

.mainpage .bookingbtn .bubble{
  margin: auto;
}

figure.bubble {
    background-color: #F57C00;
    border-radius: 7.5vmin;
    height: 15vmin;
    width: 15vmin;
    -webkit-box-shadow: 0.3vmin 0vmin 0.5vmin 0.5vmin rgba(0, 0, 0, 0.3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0.3vmin 0vmin 0.5vmin 0.5vmin rgba(0, 0, 0, 0.3);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0.3vmin 0vmin 0.5vmin 0.5vmin rgba(0, 0, 0, 0.3);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    cursor: pointer;
}

.mainpage .bookingbtn .bubble .bubbletext{
  text-transform: uppercase;
  color: white;
  font-size: 2vmin;
  line-height: 15vmin;
  text-decoration: none;
}

.mainpage .downbtn{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.mainpage .downbtnimg{
  width: 8vmin;
  height: 5vmin;
}

.navbar{
  z-index: 1;
}

.navbar img{
  max-width: 50px;
  max-height: 50px;
  vertical-align: middle;
}

/*
.nav{
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
}

.nav .container{
  display: flex;
  justify-content: space-between;
}

.nav .container li{
  width: 15vmin;
}
*/

button.navbar-toggle.navbar-left.collapsed span{
  background-color: black;
  border-bottom: 0.1vmin solid white;
}

.nav li{
  padding: 0 20px;
}
.nav li a {
  padding: 0;
  line-height: 50px;
  color: #FFFFFF;
  font-size: 2vmin;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*

.nav li.active a{
  color: #F57C00;
}

.nav a:hover{
  color: #F57C00;
}*/

.rentalpage .adultskis, .rentalpage .childrenskis, .rentalpage .avalancheequipment, .rentalpage .depot{
  width: 100%;
}

#skis:hover{
  color: #F57C00;
}

.rentalpage .container td{
  width: 5vmin;
  text-align: center;
}

.rentalpage .container tr{
  line-height: 3.25vmin;
}

.rentalpage .container{
  margin-top: 8vmin;
}

.rentalpage .container .equipmentype, .rentalpage .container .jr, .rentalpage .container .kids{
  width: 18vmin;
  line-height: 3vmin;
  text-align: left;
}

.rentalpage .container .rentaldays{
  border-bottom: 0.1vmin solid;
  color: #339933;
}

.rentalpage .container .kidsheader{
  text-align: left;
}

.rentalpage .container .kidsrentaldays td{
  border-bottom: 0.1vmin solid;
  color: #339933;
  vertical-align: bottom;
}

.highlited{
  background-color: rgba(218, 218, 218, 0.5);
}

.servicepage .container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.servicepage .container .services{
  width: 20vw;
}

.servicepage h2{
  text-align: center;
  margin-bottom: 10vmin;
  font-size: 4vmin;
  color: #339933;
}

.servicepage h5{
  font-size: 2.5vmin;
  color: #339933;
  text-transform: uppercase;
}

.servicepage h6{
  font-size: 2.5vmin;
}

.servicepage .container img{
  max-width: 20vw;
  max-height: 20vw;
}

.shoppage img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  margin-top: 2vmin;
}

.aboutuspage .container{
  width: 100%;
  margin-top: 5vmin;
}

.aboutuspage h2{
  text-align: left;
  font-size: 5vmin;
}

.aboutuspage h3{
  text-align: left;
  font-size: 3vmin;
}

.aboutuspage .freeridesections{
  display: inline;
}

#abs_logo{
  max-height: 8vmin;
}

#ortovox_logo{
  max-height: 8vmin;
}

#pieps_logo{
  max-height: 10vmin;
}

#black_diamond_logo{
  max-height: 6.5vmin;
}

#rentfreeride, #snowsport, #freeriderentallink{
  color: #F57C00;
}

#rentfreeride:hover, #snowsport:hover, #freeriderentallink:hover{
  cursor: pointer;
}

.aboutuspage{
  color: white;
  text-shadow: 0.2vmin 0.2vmin #000;
}

.aboutuspage a{
  text-decoration: none;
}

.aboutuspage h3{
  display: inline;
  line-height: 5vmin;
}

.contactpage .container, .servicepage .container{
  text-align: center;
}

.contactpage a, .servicepage a{
  text-decoration: none;
  color: #000;
}

.contactpage .container img{
  width: 10vmin;
  height: 10vmin;
}

.contactpage .container .contactpoint, .contactpage .container .map{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 25vmin;
}

.contactpage .container .iframe:hover{
  cursor: pointer;
}

.contactpage .container .contactdescription, .servicepage .container .servicedescription{
  font-size: 2.5vmin;
  display: block;
}

.contactpage .container .impressum{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 2vmin;
  color: #B4B4B4;
}
